<%- include('./partials/header', { title: "Weather" }); %>
<h2><%= city %></h2>
<table>
    <tr>
        <th>Day</th>
        <th>Temperature</th>
        <th>Rainfall</th>
        <th>Cloudiness</th>
    </tr>
    <% for(let i = index; i == index; i++) { %>
    <tr>
        <td><%= weekDay[i] %></td>
        <td><%= cityWeather["temp"] %>C</td>
        <td><%= cityWeather["rainfall"] %>mm</td>
        <td><%= cityWeather["cloudiness"] %></td>
    </tr>
</table>
<% } %>